export PORT="3000"
export COOKIE_PASSWORD="it-should-have-min-32-characters"
export NODE_ENV="development"
export VIENTOS_LANGUAGE="en"
export SERVICE_URL="http://localhost:3000"
export APP_URL="http://localhost:8080"
export MONGO_URL="mongodb://localhost:27017/vientos-dev"
export FROM_EMAIL="hello@coop.example"

# API KEYS
export GCM_API_KEY="***"
export MAILJET_APIKEY_PUBLIC=""
export MAILJET_APIKEY_SECRET=""
export IDP_URL="http://localhost:4000"
export IDP_CLIENT_ID="some-id"
export IDP_CLIENT_SECRET="some-secret"

#export GOOGLE_CLIENT_ID="***"
#export GOOGLE_CLIENT_SECRET="***"
#export FACEBOOK_CLIENT_ID="***"
#export FACEBOOK_CLIENT_SECRET="***"
#export SENTRY_DSN="get me from: https://sentry.io"
